<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Elmes numérique</a>
                </div>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="elmes.alwaysdata.net"><i class="fa fa-home fa-fw"></i> Notre site web</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Pseudo <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="profile.html"><i class="fa fa-user fa-fw"></i> Profiles</a>
                            </li>
                            <li><a href="compte.html"><i class="fa fa-gear fa-fw"></i> Compte</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Déconnection</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Intégrale<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="rectagle.html">Méthode de Réctangle</a>
                                    </li>
                                    <li>
                                        <a href="trapeze.html">Méthode de Trapèze</a>
                                    </li>
                                    <li>
                                        <a href="simpson.html">Méthode de Simpson</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Equation différentielle<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="edo.html">EDO</a>
                                    </li>
                                    <li>
                                        <a href="edp.html">EDP</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Automatique<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="ordre_1.html">Système 1er ordre</a>
                                    </li>
                                    <li>
                                        <a href="ordre_2.html">Système 2d ordre</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Matrice<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="determinant.html">Déterminant</a>
                                    </li>
                                    <li>
                                        <a href="inverse.html">Inverse</a>
                                    </li>
                                    <li>
                                        <a href="polynome.html">Polynome caractérisque</a>
                                    </li>
                                    <li>
                                        <a href="produit.html">Produit Matricielle</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Configurations<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="compte.html">Compte</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contacter l'administrateur</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Compte</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Paramètrer mon compte</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <h4>Desciption du compte</h4>
                                <p>
                                    Vous utilisez un compte <strong>ETUDIANT</strong> ce type de compte ne vous permet pas de publier sur le site d'Elmes...<br />
                                    Mais il vous permet de lire des articles publiés sur la plateforme d'Elmes, d'achètés les ouvrages et de faire des calculs numérique.<br />
                                    Dans la mésure où vous souhaiter changer de compte, c'est à dire quitter du compte <strong>ETUDIANT</strong> au compte <strong>ENSEIGNANT</strong>, il faut cliquer sur le bouton <strong>Changer de compte</strong> et au préalable remplir le formulaire de changement de compte.
                                </p>
                                <br>
                                <p>
                                    Vous utilisez un compte <strong>ENSEIGNANT</strong> ce type de compte vous permet publier sur le site d'Elmes, de faire des calculs numérique...<br />
                                    Mais il ne vous permet pas d'achèter les ouvrages publiés sur la plateforme d'Elmes.<br />
                                    Dans la mésure où vous souhaiter changer de compte, c'est à dire quitter du compte <strong>ENSEIGNANT</strong> au compte <strong>ETUDIANT</strong>, il faut cliquer sur le bouton <strong>Changer de compte</strong> et au préalable remplir le formulaire de changement de compte.
                                </p>
                                <br>
                            </div>
                            <!-- /.col-lg-12 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Changement de compte
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <form role="form" method="POST" action="">
                                            <div class="form-group">
                                                <label>Pourquoi changez vous de compte ?</label>
                                                <textarea class="form-control" rows="3" name="motivation"></textarea>
                                            </div>
                                            <input type="submit" class="btn btn-success" name="changer" value="Changer de compte" />
                                        </form>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Suppression de compte
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <form role="form" method="POST" action="">
                                            <div class="form-group">
                                                <label>Pourquoi supprimez vous votre compte ?</label>
                                                <textarea class="form-control" rows="3" name="motivation"></textarea>
                                            </div>
                                            <input type="submit" class="btn btn-danger" name="supprimer" value="Clôturez mon compte" />
                                        </form>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

    </body>
</html>
