<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Elmes numérique</a>
                </div>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="elmes.alwaysdata.net"><i class="fa fa-home fa-fw"></i> Notre site web</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Pseudo <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="profile.html"><i class="fa fa-user fa-fw"></i> Profiles</a>
                            </li>
                            <li><a href="compte.html"><i class="fa fa-gear fa-fw"></i> Compte</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Déconnection</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Intégrale<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="rectagle.html">Méthode de Réctangle</a>
                                    </li>
                                    <li>
                                        <a href="trapeze.html">Méthode de Trapèze</a>
                                    </li>
                                    <li>
                                        <a href="simpson.html">Méthode de Simpson</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Equation différentielle<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="edo.html">EDO</a>
                                    </li>
                                    <li>
                                        <a href="edp.html">EDP</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Automatique<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="ordre_1.html">Système 1er ordre</a>
                                    </li>
                                    <li>
                                        <a href="ordre_2.html">Système 2d ordre</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Matrice<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="determinant.html">Déterminant</a>
                                    </li>
                                    <li>
                                        <a href="inverse.html">Inverse</a>
                                    </li>
                                    <li>
                                        <a href="polynome.html">Polynome caractérisque</a>
                                    </li>
                                    <li>
                                        <a href="produit.html">Produit Matricielle</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Configurations<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="compte.html">Compte</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contacter l'administrateur</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Paramètrer mon compte</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Paramètrer mon compte</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <h4>Desciption du compte</h4>
                                <p>
                                    Vous utilisez un compte <strong>ETUDIANT</strong> ce type de compte ne vous permet pas de publier sur le site d'Elmes...<br />
                                    Mais il vous permet de lire des articles publiés sur la plateforme d'Elmes, d'achètés les ouvrages et de faire des calculs numérique.<br />
                                    Dans la mésure où vous souhaiter changer de compte, c'est à dire quitter du compte <strong>ETUDIANT</strong> au compte <strong>ENSEIGNANT</strong>, il faut cliquer sur le bouton <strong>Changer de compte</strong> et au préalable remplir le formulaire de changement de compte.
                                </p>
                                <br>
                                <p>
                                    Vous utilisez un compte <strong>ENSEIGNANT</strong> ce type de compte vous permet publier sur le site d'Elmes, de faire des calculs numérique...<br />
                                    Mais il ne vous permet pas d'achèter les ouvrages publiés sur la plateforme d'Elmes.<br />
                                    Dans la mésure où vous souhaiter changer de compte, c'est à dire quitter du compte <strong>ENSEIGNANT</strong> au compte <strong>ETUDIANT</strong>, il faut cliquer sur le bouton <strong>Changer de compte</strong> et au préalable remplir le formulaire de changement de compte.
                                </p>
                                <br>

                            </div>
                            <!-- /.col-lg-12 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Outline Buttons with Smooth Transition
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <h4>Outline Buttons</h4>
                                        <p>
                                            <button type="button" class="btn btn-outline btn-default">Default</button>
                                            <button type="button" class="btn btn-outline btn-primary">Primary</button>
                                            <button type="button" class="btn btn-outline btn-success">Success</button>
                                            <button type="button" class="btn btn-outline btn-info">Info</button>
                                            <button type="button" class="btn btn-outline btn-warning">Warning</button>
                                            <button type="button" class="btn btn-outline btn-danger">Danger</button>
                                            <button type="button" class="btn btn-outline btn-link">Link</button>
                                        </p>
                                        <br>
                                        <h4>Outline Button Sizes</h4>
                                        <p>
                                            <button type="button" class="btn btn-outline btn-primary btn-lg">Large button</button>
                                            <button type="button" class="btn btn-outline btn-primary">Default button</button>
                                            <button type="button" class="btn btn-outline btn-primary btn-sm">Small button</button>
                                            <button type="button" class="btn btn-outline btn-primary btn-xs">Mini button</button>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-outline btn-primary btn-lg btn-block">Block level button</button>
                                        </p>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Social Buttons with Font Awesome Icons
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <a class="btn btn-block btn-social btn-bitbucket">
                                            <i class="fa fa-bitbucket"></i> Sign in with Bitbucket
                                        </a>
                                        <a class="btn btn-block btn-social btn-dropbox">
                                            <i class="fa fa-dropbox"></i> Sign in with Dropbox
                                        </a>
                                        <a class="btn btn-block btn-social btn-facebook">
                                            <i class="fa fa-facebook"></i> Sign in with Facebook
                                        </a>
                                        <a class="btn btn-block btn-social btn-flickr">
                                            <i class="fa fa-flickr"></i> Sign in with Flickr
                                        </a>
                                        <a class="btn btn-block btn-social btn-github">
                                            <i class="fa fa-github"></i> Sign in with GitHub
                                        </a>
                                        <a class="btn btn-block btn-social btn-google-plus">
                                            <i class="fa fa-google-plus"></i> Sign in with Google
                                        </a>
                                        <a class="btn btn-block btn-social btn-instagram">
                                            <i class="fa fa-instagram"></i> Sign in with Instagram
                                        </a>
                                        <a class="btn btn-block btn-social btn-linkedin">
                                            <i class="fa fa-linkedin"></i> Sign in with LinkedIn
                                        </a>
                                        <a class="btn btn-block btn-social btn-pinterest">
                                            <i class="fa fa-pinterest"></i> Sign in with Pinterest
                                        </a>
                                        <a class="btn btn-block btn-social btn-tumblr">
                                            <i class="fa fa-tumblr"></i> Sign in with Tumblr
                                        </a>
                                        <a class="btn btn-block btn-social btn-twitter">
                                            <i class="fa fa-twitter"></i> Sign in with Twitter
                                        </a>
                                        <a class="btn btn-block btn-social btn-vk">
                                            <i class="fa fa-vk"></i> Sign in with VK
                                        </a>

                                        <hr>

                                        <div class="text-center">
                                            <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                                            <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
                                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                            <a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
                                            <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                                            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                            <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                                            <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                            <a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                            <a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
                                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                            <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Outline Buttons with Smooth Transition
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <h4>Outline Buttons</h4>
                                        <p>
                                            <button type="button" class="btn btn-outline btn-default">Default</button>
                                            <button type="button" class="btn btn-outline btn-primary">Primary</button>
                                            <button type="button" class="btn btn-outline btn-success">Success</button>
                                            <button type="button" class="btn btn-outline btn-info">Info</button>
                                            <button type="button" class="btn btn-outline btn-warning">Warning</button>
                                            <button type="button" class="btn btn-outline btn-danger">Danger</button>
                                            <button type="button" class="btn btn-outline btn-link">Link</button>
                                        </p>
                                        <br>
                                        <h4>Outline Button Sizes</h4>
                                        <p>
                                            <button type="button" class="btn btn-outline btn-primary btn-lg">Large button</button>
                                            <button type="button" class="btn btn-outline btn-primary">Default button</button>
                                            <button type="button" class="btn btn-outline btn-primary btn-sm">Small button</button>
                                            <button type="button" class="btn btn-outline btn-primary btn-xs">Mini button</button>
                                            <br>
                                            <br>
                                            <button type="button" class="btn btn-outline btn-primary btn-lg btn-block">Block level button</button>
                                        </p>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Social Buttons with Font Awesome Icons
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <a class="btn btn-block btn-social btn-bitbucket">
                                            <i class="fa fa-bitbucket"></i> Sign in with Bitbucket
                                        </a>
                                        <a class="btn btn-block btn-social btn-dropbox">
                                            <i class="fa fa-dropbox"></i> Sign in with Dropbox
                                        </a>
                                        <a class="btn btn-block btn-social btn-facebook">
                                            <i class="fa fa-facebook"></i> Sign in with Facebook
                                        </a>
                                        <a class="btn btn-block btn-social btn-flickr">
                                            <i class="fa fa-flickr"></i> Sign in with Flickr
                                        </a>
                                        <a class="btn btn-block btn-social btn-github">
                                            <i class="fa fa-github"></i> Sign in with GitHub
                                        </a>
                                        <a class="btn btn-block btn-social btn-google-plus">
                                            <i class="fa fa-google-plus"></i> Sign in with Google
                                        </a>
                                        <a class="btn btn-block btn-social btn-instagram">
                                            <i class="fa fa-instagram"></i> Sign in with Instagram
                                        </a>
                                        <a class="btn btn-block btn-social btn-linkedin">
                                            <i class="fa fa-linkedin"></i> Sign in with LinkedIn
                                        </a>
                                        <a class="btn btn-block btn-social btn-pinterest">
                                            <i class="fa fa-pinterest"></i> Sign in with Pinterest
                                        </a>
                                        <a class="btn btn-block btn-social btn-tumblr">
                                            <i class="fa fa-tumblr"></i> Sign in with Tumblr
                                        </a>
                                        <a class="btn btn-block btn-social btn-twitter">
                                            <i class="fa fa-twitter"></i> Sign in with Twitter
                                        </a>
                                        <a class="btn btn-block btn-social btn-vk">
                                            <i class="fa fa-vk"></i> Sign in with VK
                                        </a>

                                        <hr>

                                        <div class="text-center">
                                            <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                                            <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
                                            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                            <a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
                                            <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                                            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                                            <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                                            <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                            <a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                            <a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
                                            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                            <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

    </body>
</html>
