<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="../css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Elmes numérique</a>
                </div>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="elmes.alwaysdata.net"><i class="fa fa-home fa-fw"></i> Notre site web</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Pseudo <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="profile.html"><i class="fa fa-user fa-fw"></i> Profiles</a>
                            </li>
                            <li><a href="compte.html"><i class="fa fa-gear fa-fw"></i> Compte</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Déconnection</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Intégrale<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="rectagle.html">Méthode de Réctangle</a>
                                    </li>
                                    <li>
                                        <a href="trapeze.html">Méthode de Trapèze</a>
                                    </li>
                                    <li>
                                        <a href="simpson.html">Méthode de Simpson</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Equation différentielle<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="edo.html">EDO</a>
                                    </li>
                                    <li>
                                        <a href="edp.html">EDP</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Automatique<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="ordre_1.html">Système 1er ordre</a>
                                    </li>
                                    <li>
                                        <a href="ordre_2.html">Système 2d ordre</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Matrice<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="determinant.html">Déterminant</a>
                                    </li>
                                    <li>
                                        <a href="inverse.html">Inverse</a>
                                    </li>
                                    <li>
                                        <a href="polynome.html">Polynome caractérisque</a>
                                    </li>
                                    <li>
                                        <a href="produit.html">Produit Matricielle</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-wrench fa-fw"></i> Configurations<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="compte.html">Compte</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contacter l'administrateur</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Méthode de Simpson</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="jumbotron">
                                <h2>Consigne</h2>
                                <hr>
                                <p>Pour calculer numériquement un intégrale par la méthode du Réctangle, il faut disposer des éléments suivants :</p>
                                <ol>
                                    <li>De la borne inférieur (notée ici <em>a</em>)</li>
                                    <li>De la borne supérieur (notée ici <em>b</em>)</li>
                                    <li>De le la fonction (notée ici <em>f</em>)</li>
                                    <li>Du nombre de subdivision (notée ici <em>n</em>)</li>
                                </ol>
                                <p>Après avoir insérer les données, il ne vous restera plus que l'action de valider en appuyant sur le bouton Calcul.<br />
                                </p>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <form method="POST" action="" role="form">
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="text">
                                        <span class="value"><em>a</em></span>
                                        <label class="text-muted">borne inférieur</label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="a" placeholder="Entrer la valeur de a">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="text">
                                        <span class="value"><em>b</em></span>
                                        <label class="text-muted">borne supérieur</label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="b" placeholder="Entrer la valeur de b">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="text">
                                        <span class="value"><em>f</em></span>
                                        <label class="text-muted">fonction</label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="f" placeholder="Entrer la valeur de f">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="text">
                                        <span class="value"><em>n</em></span>
                                        <label class="text-muted">nombre des subdivisions</label>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="n" placeholder="Entrer la valeur de n">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <input class="btn btn-danger form-control" name="valider" type="submit" value="Calculer">
                            </div>
                        </form>
                    </div>
                                <br>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Graphique du dernier calcul
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-tasks fa-fw"></i> Paramètres
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-cog fa-fw"></i> Titre paramètre
                                                <span class="pull-right text-muted small"><em>Valeur paramètre</em>
                                                </span>
                                        </a>
                                    </div>
                                    <!-- /.list-group -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

        <!-- Custom Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const config = {
            type: 'line',
            data: {
                datasets: [{
                    data: [20, 50, 100, 75, 25, 0],
                    label: 'Left dataset',

                    // This binds the dataset to the left y axis
                    yAxisID: 'left-y-axis'
                }, {
                    data: [0.1, 0.5, 1.0, 2.0, 1.5, 0],
                    label: 'Right dataset',

                    // This binds the dataset to the right y axis
                    yAxisID: 'right-y-axis'
                }],
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
            },
            options: {

                animations: {
                  radius: {
                    duration: 400,
                    easing: 'linear',
                    loop: (context) => context.active
                  }
                },
                scales: {
                    'left-y-axis': {
                        type: 'linear',
                        position: 'left'
                    },
                    'right-y-axis': {
                        type: 'linear',
                        position: 'right'
                    }
                }
            }
          };

          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );

        </script>


    </body>
</html>
